@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');

body{
color: black; 
background-color: whitesmoke;
}

h1 {
    font-family: 'Ewert', cursive;
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    font-family: "Roboto Mono", monospace;
    font-size: 20px; 
    color: rgb(0, 0, 0);
}

div.container {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-type: square;
    
}