@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
color: rgb(255, 255, 255); 
background-image: url("./assets/images/hong.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: length;
background-color: rgb(70, 70, 70);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(120, 120, 120);
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
    text-shadow: 4px 4px rgb(255, 255, 255);
    /* margin-bottom: 80px; */
}

a {
    font-family: "Roboto Mono", monospace;
    font-size: 25px; 
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px rgb(120, 120, 120); */
}

a:hover{
    filter: blur(1px);
    transition: 1s;
    /* background-color: #00ffd0; */
}


div.container {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-type: square;
    text-align: left;
}

p {
    font-family: "Roboto Mono", monospace;
    font-size: 15px; 
    color: rgb(255, 255, 255);
    text-align: center;
}