@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');




body{
color: black; 
background-color: rgb(200, 200, 200);
/* background: rgb(139,255,179);
background: radial-gradient(circle, rgba(139,255,179,1) 0%, rgba(148,162,233,1) 100%); */
}

h1 {
    font-family: 'Oi', cursive;
    color: #6b1d43;
    text-shadow: 5px 5px #ffffff;
    -webkit-text-stroke: 3px #ffffff; 
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    font-family: 'Oi', cursive;
    font-size: 60px; 
    font-weight: 400;
    color: rgb(255, 192, 192);
    text-shadow: 5px 5px #000000;
    -webkit-text-stroke: 3px #000000; 
    line-height: 110%;
    margin-left: 200px;
    margin-right: 200px;
}

a {
    font-family: 'Oi', cursive;
    font-size: 80px; 
    font-weight: 400;
    color: rgb(255, 147, 147);
    text-shadow: 5px 5px #0049c7;
    -webkit-text-stroke: 3px #0049c7; 
    text-decoration: none;
    
}

a:hover {
    background-color: #7eadff;
    
  }

div.container {
    text-align: center;
    
}

ul {
    display: inline-block;
    text-align: left;
    list-style-type: square;
    text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /* padding: 10px; */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }